.wrapper {
  background-image: url("./img/title.jpg");
  background-size: cover;
  height: 100vh;
  color: #fff;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: 0.7;
  }

  header {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h2 {
    padding-top: 20px;
    text-align: center;
  }

  h1 {
    font-size: 4rem;
    width: 100%;
    text-align: center;
  }

  .foot {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100px;
  }
}
