.wrapper {
  background-color: #303030;
  width: 100vw;
  height: 140px;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  position: relative;

  h4 {
    margin-top: 15px;
  }
}

.arrow {
  z-index: 5;
  height: 40px;
  width: 40px;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  transform: rotate(180deg);
  background: transparent;
  color: #fff;
  border: none;
  transition: 0.5s;
  border-radius: 50%;
  margin-top: 10px;

  &:hover {
    transform: rotate(180deg) translateY(10px);
  }
}
